body {
  background-color: darkgoldenrod;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

header {
  margin: 100px;
}

.product_name {
  font-size: larger;
  font-weight: 600;
}

.price {
  color: blue;
}

.description {
  font-size: 14px;
}

.goimon {
  height: 250px;
  width: 250px;
  margin-right: 5%;
  box-shadow: 0 0 1px 1px #fff;
  border-radius: 1px;
}

li {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 600;
}

.button-submit {
  height: 100px !important;
  width: 100px;
  background-color: bisque;
}
